# Python Virtual Environment
$t0ck$/backend/venv/
$t0ck$/backend/__pycache__/
**/__pycache__/
*.pyc

# Local Database & Environment Files
$t0ck$/backend/market.db
$t0ck$/backend/.env
.env

# macOS System Files
.DS_Store
